@import url(parts/navbar.css);
@import url(parts/banner.css);
@import url(parts/services.css);
@import url(parts/slideshow.css);
@import url(parts/pricing.css);
@import url(parts/team.css);
@import url(parts/clients.css);
@import url(parts/contact.css);
@import url(parts/footer.css);

/* MOBILE FIRST APPROACH */

:root {
  --main-font-fam: "Nunito", sans-serif;

  /*	Color palette  */

  /*	theme */
  --col-theme: hsl(103, 96%, 32%);

  /* primary */
  --col-pop: hsl(107, 78%, 50%);
  --col-neutral: hsl(109, 42%, 50%);

  /* complementary */
  --col-comp: hsl(288, 54%, 50%);
  --col-comp-neutral: hsl(288, 25%, 50%);

  /* poppy primary in shades */
  --col-pop-lighter: hsl(107, 78%, 75%);
  --col-pop-darker: hsl(107, 78%, 25%);
  --col-pop-darkest: hsl(107, 25%, 15%);

  /* primary neutral in shades*/
  --col-neutral-light: hsl(106, 42%, 83%);
  --col-neutral-dark: hsl(106, 42%, 17%);

  /* complementary in shades */
  --col-comp-neutral-light: hsl(286, 25%, 83%);
  --col-comp-neutral-dark: hsl(288, 25%, 17%);

  --col-myblack: hsl(0, 0%, 17%);
  --col-mywhite: hsl(0, 0%, 98%);

  /*	using the colors */
  --col-text-dark: hsl(288, 25%, 17%);
  /*	is var(--col-comp-neutral-dark);*/
  --col-bg-text-light: hsl(0, 0%, 98%);
  /*	 is var(--col-mywhite);*/
  --col-theme: hsl(109, 42%, 50%);
  /*	is var(--col-neutral);*/

  /*	document body */
  --col-bg-general: hsl(0, 0%, 98%);
  /*	is var(--col-mywhite);*/

  /*	nav & footer colors	*/
  /*	--col-bg-nav: var(--col-bg-text-light);*/
  --col-bg-nav: hsl(51, 65%, 93%);
  --col-nav: hsl(288, 25%, 17%);
  /*	 is  var(--col-text-dark);*/
  --col-nav-hover: hsl(109, 42%, 50%);
  /*	 is  var(--col-theme);*/

  /* button colors */

  --col-bg-btn1: transparent;
  --col-btn1: var(--col-pop);
  --col-bg-hover-btn1: var(--col-mywhite);
  --col-hover-btn1: var(--col-pop-darker);
  --col-focus-btn1: var(--col-comp-neutral-light);
  --col-bg-focus-btn1: var(--col-bg-hover-btn1);

  --col-bg-btn2: var(--col-mywhite);
  --col-btn2: var(--col-theme);
  --col-bg-hover-btn2: var(--col-bg-hover-btn1);
  --col-hover-btn2: var(--col-hover-btn1);
  --col-focus-btn2: var(--col-focus-btn1);
  --col-bg-focus-btn2: var(--col-bg-focus-btn1);

  /* colors  service section	*/
  --col-service-icons: var(--col-theme);

  /* colors in the pricing section	*/
  --col-text-big-card: var(--col-theme);
  --col-text-small-card: var(--col-pop-darker);
}

html {
  font-size: 14px !important;
}

@media (min-width: 576px) {
  html {
    font-size: 15px !important;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 16px !important;
  }
}

/* Reset for all elements not styled explicitly through bootstrap classes*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: var(--main-font-fam);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  transition: all 500ms ease-in-out;
}

a:hover,
a:active {
  text-decoration: none;
}

h1,
h2,
h4 {
  font-family: var(--main-font-fam);
  text-transform: uppercase;
  font-weight: 700;
}
h1,
h2,
h3,
h4 {
  text-align: center;
}

.btn {
  transition: all 200ms ease-in-out;
  font-weight: 500 !important;
  text-transform: uppercase;
}

/* these apply to most sections, will override if needed */
section {
  padding-top: 1em;
  padding-bottom: 6em;

  text-align: center;

  background-color: var(--col-bg-text-light);
  box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.2);
  position: relative;
}

section h2,
section h4,
section h3,
section p,
section b {
  color: var(--col-text-dark);
}
section h2 {
  margin-top: 1.7em;
}
section p {
  /*	easier to read for xs devices*/
  font-size: 1.2rem;
}

@media (min-width: 576px) {
  section p {
    /* easier to read for sm devices*/
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  section {
    padding-bottom: 4em;
  }
  section p {
    /* back to normal size */
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  section {
    padding-top: 2em;
    padding-bottom: 7em;
  }
}
@media (min-width: 1200px) {
  section {
    padding-top: 4em;
    padding-bottom: 9em;
  }
}

.banner {
  /*	for collapsing banner scroll effect - */
  background-attachment: fixed;
}

/*	for the desired RENDERING of BOX SHADOW at the bottom of a section */
.pre-services {
  z-index: 11;
}
.services {
  z-index: 10;
}
#slideshow {
  z-index: 9;
}
.pricing {
  z-index: 8;
}
.team {
  z-index: 7;
}
.clients {
  z-index: 6;
}
.contact {
  z-index: 5;
}
