/* banner */
.banner {
	font-size: 1.2rem;
	height: 100vh;
	width: 100%;	
	padding: 4rem 2rem 0;
	background: linear-gradient(15deg, hsla(30, 98%, 33%, 0.59) 10%, hsla(14, 23%, 49%, 0.35) 90%), url(../../images/banner/bg1.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--col-mywhite);
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner .row {	
	display: flex;
	justify-content: center;
}

.banner .row > div {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.banner h1, 
.banner h2 {	
	color: var(--col-mywhite);
	text-align: center;
}
.banner h2 {	
	text-transform: none;
}

.banner-buttons {
	margin: 2em 0 2em 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;	
	flex-wrap: wrap;
}

/* at the moment only used in banner, but may be reused in other places. keeping it general*/
.mybtn {
	border: 0.15em solid grey;
	font-size: 1.1rem !important;
	padding: 0.5em 1em;
	font-weight: 700 !important;
	border-radius: 0.2em;
}

.banner-buttons button {
	margin-right: 1em;
}

/* Important button in banner */
.banner .mybtn1 {
	color: var(--col-btn1);
	background-color: var(--col-bg-btn1);
	border-color: var(--col-btn1);
	margin-bottom: 1em;
}
.banner .mybtn1:hover {
	background-color: var(--col-bg-hover-btn1);
	color: var(--col-hover-btn1);
	border-color: var(--col-hover-btn1);
}
.banner .mybtn1:active, .banner .mybtn1:focus {
	outline: none !important;
	background-color: var(--col-bg-focus-btn1) !important;
	color: var(--col-focus-btn1) !important;
	border-color: var(--col-focus-btn1) !important;
}
/* less important button in banner */
.banner .mybtn2 {
	color: var(--col-mywhite);
	background-color: var(--col-bg-btn1);
	border-color: var(--col-mywhite);
}
.banner .mybtn2:hover {
	background-color: var(--col-bg-hover-btn1);
	color: var(--col-hover-btn1);
	border-color: var(--col-hover-btn1);
}
.banner .mybtn2:active, .banner .mybtn1:focus {
	outline: none !important;
	background-color: var(--col-bg-focus-btn1) !important;
	color: var(--col-focus-btn1) !important;
	border-color: var(--col-focus-btn1) !important;
}

