/* SLIDESHOW */

#slideshow {
	height: 300px !important;	
  background: var(--col-mywhite);
	box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.2);	
}

#slideshow img {
	height: 300px;
	width: 320px;
}

@media (min-width: 576px) {
	#slideshow {
		height: 450px !important;
	}
	#slideshow img {
		height: 450px;
		width: 480px;
	}
}
@media (min-width: 768px) {
	#slideshow {
		height: 600px !important;		
	}
	#slideshow img {
		height: 600px;
		width: 640px;
	}
}