/* TEAM */

.team h2 {
	margin: 1.7em 0 0 0;
}

.team b,
.team h4 {
	margin: 1em 0 1em;	
}

.team img {
	height: 150px;
	width: 150px;
	margin-top: 80px;
}

.team p {
	margin: 1em 2em;
}

.team i {
	height: 2em;
	width: 2em;
	padding: 0.5em;
	margin-top: 0.5em;	
	font-size: 1.5rem;
	border-radius: 50%;
	background-color: var(--col-neutral);
	color: #fff;
}

.team a: hover i {
	background-color: #709963;
}

@media (min-width: 768px) {
	.team i {
		font-size: 1.2rem;
	}
}